.main-body{
    min-height: calc(10vh - 70px);
    margin-top:1%;
    font-family: "Merriweather",serif;
    li {
        list-style-type: none; 
    }
    .main-title{
        text-align:center;
        border-top: 5px solid #8B0000;
    }
    .main-rss {
        .main-rss_titles{
            text-align:center;
        }
        
       
       
    }
}

